{% extends 'base.html' %}

{% block nav %}
<ul class="navbar-nav ">
  <li class="nav-item active">
    <a class="nav-link" href="/home">Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Diet<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Custom Calculation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Custom Recipe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">login</a>
  </li>
</ul>
{% endblock %}

{% block content %}
 <div class="container mt-5">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/balanced.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Balanced Diet</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Customize</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/keto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Keto Diet</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Customize</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="static/vegan.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Vegan Diet</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Customize</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}
